.WhoWeAreSection {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 1%;
    margin-left : 18%;
    margin-left : 18%;
    font-family: 'Signika', sans-serif;
}

.who-we-are-container-first {
    /* background: orange; */
    /* margin-left : 10%; */
    width : 50%;
    height : 80%;
    display: flex
}

.who-we-are-image-container img {
    width : 90%;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-we-are-container-second{
    display: block;        
}

.who-we-are-header{
    display: inline-flex;
    align-items: center;
    gap: 1em;
    background-color: #fff;
    border-radius: 30px;
    padding: 0.5px 30px;
}

.who-we-are-main-text p{
    font-family: 'roboto', sans-serif;
    font-weight : light;
    font-size: 2.5em;
    color: #333;
}

