.ArticlesSection {
  font-family: 'Signiko', sans-serif;
  display: block;
}

.articles-above-title {
  display: flex;
  margin-left: 18%;
}

.articles-header-text-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.articles-header-text {
  font-size: 1.8em;
}

.articles-left-right-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.articles-card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% 18%;
  margin-top: 30px;
}
