.feature-cards-section {
  font-family: "Signika", sans-serif;
  display: inline-flex;
  flex-wrap: wrap;
  gap : 0.5em;
  margin: 1%;
}

.card-content {
  margin : 5%;
  width: 100%;
  display: block;
  /* flex-direction:column; */
  text-align:left;
  align-items: left;
  color: #333;
  /* padding: 20px; */
  gap : 2em;
}

.card-header{
    display: flex;
    gap : 1em;
    align-items: center;
    /* background-color: #EDDD5E; */
    /* display:block; */
    padding: 20px;
    border-radius: 50%;
}

.card-icon {
    background-color: #EDDD5E;
    border-radius: 50%;
    padding: 15px;
}

.card-text p{
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.card-line-container {
    width: 100%;
  /* margin-top: 10px; */
  /* display: flex; */
  justify-content: left;
  /* align-items: center; */
}
.card-line hr{
  border: 1px solid #333;
  width: 90%;
  opacity : 1;
}





