.footer {
  margin:1%  0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  border-top: 4px solid #f2e77b;
  padding-top: 0;
}

/* Top yellow bar */
.footer-top {
  margin: 0;
  background-color: #f2e77b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  flex-wrap: wrap;
}

.footer-menu {
  margin: 0 16%;  
  /* padding: 0 10%; */
   padding-top: 2%;
   padding-bottom: 2%;
}

.footer-menu a {
  margin-right: 20px;
 
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-contact {
  display: flex;
  gap: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-item img {
  width: 20px;
  height: 20px;
}

/* Main section */
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap : 2%;
  padding: 50px 60px;
  margin-top: 2%;
  flex-wrap: wrap;
  background-color: #fff;
}

.footer-left {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
  margin-left: 16%;
}

.footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-left p {
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}



.footer-social img {
  background-color: #f5f5f5;
  width: 15px;
  margin-right: 10px;
  padding: 5%;
  border-radius: 100%;
  cursor: pointer;
}

.facebook-icon img{
  width : 8px;
}

.footer-center, .footer-right {
  flex: 1;
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-center h4,
.footer-right h4 {
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center li {
  margin-bottom: 6px;
}

.footer-center a {
  color: #555;
  text-decoration: none;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-right p {
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}

/* Bottom line */
.footer-bottom {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 15px 20px;
  font-size: 13px;
  color: #777;
}

.footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  color: #777;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    padding: 30px 20px;
  }
  .footer-top {
    flex-direction: column;
    text-align: center;
  }
}
