.services-hero {
  background: url('./../../src/assets/images/farmer.jpg') center/cover no-repeat;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.services-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.services-hero h1, .services-hero p {
  position: relative;
  z-index: 1;
}

.services-grid {
    margin: 0 18%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 50px;
}

@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
