.Card2Container{
    font-family: 'Signika', sans-serif;
    width : 100%;
    height: 100%;
    display: block;
}

.card2-image-container {
    display: flex;
    align-items: center;
    margin-top: 30%;
    margin : 5%;
    /* background-color: white; */
    width : 20%;
    height : 65%;
}

.card2-image-container img{
    border-radius: 5%;
    width: 90%;
    height: 90%;
}


.card2-head-text-container {
    margin: 1% 5%;
    margin-top: 0px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #404A3D;
}

.card2-head-text-container p{
    margin-top : -4%;

}

.card2-text-container{
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: small;
    margin-left: 5%;
}