.feature-card-wrapper {
  position: relative;
  width: 20em;
  height: 170px; 
  background-color: #f8f7f0;
  display: block;
  box-shadow: 0px 0px 0px 10px rgba(0);
}

.feature-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  fill: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect on SVG */
.feature-card-wrapper:hover .feature-card-bg {
  transform: scale(1.03);
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.15));
}

.feature-card-content {
  margin: 0 5%;
  position: relative;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.feature-card-title-icon{
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


/* Text & icon styling */
.feature-card-icon {
  /* align-items: flex-start; */
  width: 15%;
  height: 15%;
  /* color: #4b8b3b; */
  background-color: #EDDD5E;
  padding: 3%;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.feature-card-icon img{
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.feature-card-separator  {
  width: 100%;
  margin: 10px 10px;
}

.feature-card-separator hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

.feature-card-button-container {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  margin :  0;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card-button{
  padding: 20%;
  text-decoration: none;
}

.feature-card-wrapper:hover .feature-card-icon .feature-card-button:hover {
  transform: rotate(5deg) scale(1.05);
}

.feature-card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #333;
}


.feature-card-description {
  font-size: 14px;
  color: #555;
  margin: 0;
}

/* Responsiveness */
@media (max-width: 600px) {
  .feature-card-wrapper {
    width: 100%;
    height: auto;
  }
}
